.about {
  margin-top: 100vh;
  padding: 50px 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
  
.about-text {
    flex: 1;
}