.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    padding: 10px 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links li {
  margin-left: 2rem;
  cursor: pointer;
  color: #555;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li:hover {
    color: #00aaff;
}